<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="ackermann" >
  <link name="base_footprint">
  </link>
  <joint name="base_link_to_base_footprint" type="fixed">
    <origin xyz="0 0 0.12" rpy="0 0 0"/>
    <parent link="base_footprint"/>
    <child link="base_link"/>
  </joint>


  <link name="laser_frame">
    <visual>
      <geometry>
        <cylinder radius="0.05" length="0.04"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.05" length="0.04"/>
      </geometry>
    </collision>
    <inertial>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <mass
        value="0.01" />
      <inertia
        ixx="0.01" ixy="0.0" ixz="0.0"
        iyy="0.01" iyz="0.0"
        izz="0.01"/>
    </inertial>
  </link>

  <joint name="laser_joint" type="fixed">
    <origin xyz="0 0 0.08" rpy="0 0 0"/>
    <parent link="base_link"/>
    <child link="laser_frame"/>
  </joint>


  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.155033044322973 5.21064123681914E-07 -0.0374219405386322"
        rpy="0 0 0" />
      <mass
        value="20.2064614062057" />
      <inertia
        ixx="0.0413486020291867"
        ixy="-1.82796488685308E-07"
        ixz="3.45960820667353E-07"
        iyy="0.0152273358946837"
        iyz="1.05010040456044E-07"
        izz="0.0556459614992652" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///$(find my_robot_description)/meshes/ackermann_meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 0.4" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///$(find my_robot_description)/meshes/ackermann_meshes/base_link.STL" />
      </geometry>
     <surface>
        <poissons_ratio>0.347</poissons_ratio>
        <elastic_modulus>8.8e+09</elastic_modulus>
        <ode>
          <soft_cfm>2e+20</soft_cfm>
          <soft_erp>2e+40</soft_erp>
          <kp>1000</kp>
          <kd>1</kd>
          <max_vel>0.01</max_vel>
          <min_depth>1.0</min_depth>
        </ode>
      </surface>
    </collision>
  </link>
  <link
    name="front_left">
    <inertial>
      <origin
        xyz="3.8858E-15 -0.015274 4.6435E-14"
        rpy="0 0 0" />
      <mass
        value="2.4047" />
      <inertia
        ixx="0.00024514"
        ixy="5.4339E-21"
        ixz="-6.7763E-21"
        iyy="0.00045262"
        iyz="6.4709E-20"
        izz="0.00024514" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///$(find my_robot_description)/meshes/ackermann_meshes/front_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 0.5" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///$(find my_robot_description)/meshes/ackermann_meshes/front_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_left_joint"
    type="fixed">
    <origin
      xyz="0.0190000000000679 0.301000000000045 -0.0695000000000887"
      rpy="3.14159265358979 0.0849179307157279 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="front_left" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="front_right">
    <inertial>
      <origin
        xyz="-2.9643E-14 0.025726 3.5749E-14"
        rpy="0 0 0" />
      <mass
        value="2.4047" />
      <inertia
        ixx="0.00024514"
        ixy="5.2554E-21"
        ixz="0"
        iyy="0.00045262"
        iyz="4.3994E-20"
        izz="0.00024514" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///$(find my_robot_description)/meshes/ackermann_meshes/front_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 0.5" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///$(find my_robot_description)/meshes/ackermann_meshes/front_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="front_right_joint"
    type="fixed">
    <origin
      xyz="0.0190000000000679 -0.259999999999977 -0.0695000000000887"
      rpy="3.14159265358979 -0.692237011731428 0" />
    <parent
      link="base_link" />
    <child
      link="front_right" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="left_steering">
    <inertial>
      <origin
        xyz="0.012512933493309 -0.0163421015504649 -0.0213045365279689"
        rpy="0 0 0" />
      <mass
        value="1.5" />
      <inertia
        ixx="1.40345098300458E-05"
        ixy="-1.52725955805096E-06"
        ixz="-7.1949991184784E-06"
        iyy="2.900901803087E-05"
        iyz="2.01422351026883E-06"
        izz="3.05054640970382E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///$(find my_robot_description)/meshes/ackermann_meshes/left_steering.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///$(find my_robot_description)/meshes/ackermann_meshes/left_steering.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="left_steering_joint"
    type="fixed">
    <origin
      xyz="-0.544750000000063 0.229999999999977 -0.0837500000002835"
      rpy="3.14159265358979 0 -0.00209254658538632" />
    <parent
      link="base_link" />
    <child
      link="left_steering" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="rear_left">
    <inertial>
      <origin
        xyz="-1.5192E-06 0.025619 0.006692"
        rpy="0 0 0" />
      <mass
        value="2.4047" />
      <inertia
        ixx="0.00024514"
        ixy="-4.9967E-09"
        ixz="-5.3615E-10"
        iyy="0.00045026"
        iyz="2.201E-05"
        izz="0.0002475" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///$(find my_robot_description)/meshes/ackermann_meshes/rear_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 0.5" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///$(find my_robot_description)/meshes/ackermann_meshes/rear_left.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_left_joint"
    type="fixed">
    <origin
      xyz="0 -0.0367488381424265 -0.0159999999999999"
      rpy="3.14159265358979 1.57056930363849 0" />
    <parent
      link="left_steering" />
    <child
      link="rear_left" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="right_steering">
    <inertial>
      <origin
        xyz="-0.0141851959168551 -0.0149116111585591 -0.0213045365279664"
        rpy="0 0 0" />
      <mass
        value="1.5" />
      <inertia
        ixx="1.45321058215473E-05"
        ixy="3.08590475566129E-06"
        ixz="7.36894346824914E-06"
        iyy="2.85153884323416E-05"
        iyz="1.2337472935684E-06"
        izz="3.05094304900102E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///$(find my_robot_description)/meshes/ackermann_meshes/right_steering.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///$(find my_robot_description)/meshes/ackermann_meshes/right_steering.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="right_steering_joint"
    type="fixed">
    <origin
      xyz="-0.544750000000063 -0.230000000000023 -0.0837500000002835"
      rpy="3.14159265358979 0 -3.13242627228221" />
    <parent
      link="base_link" />
    <child
      link="right_steering" />
    <axis
      xyz="0 0 1" />
  </joint>
  <link
    name="rear_right">
    <inertial>
      <origin
        xyz="1.415E-10 0.025722 1.2793E-08"
        rpy="0 0 0" />
      <mass
        value="2.4047" />
      <inertia
        ixx="0.00024514"
        ixy="4.6696E-13"
        ixz="9.4868E-20"
        iyy="0.00045262"
        iyz="4.2319E-11"
        izz="0.00024514" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///$(find my_robot_description)/meshes/ackermann_meshes/rear_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0 1 0 0.5" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///$(find my_robot_description)/meshes/ackermann_meshes/rear_right.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="rear_right_joint"
    type="fixed">
    <origin
      xyz="0 -0.0370034448281129 -0.0159999999999995"
      rpy="3.14159265358979 -1.55976234848309 0" />
    <parent
      link="right_steering" />
    <child
      link="rear_right" />
    <axis
      xyz="0 1 0" />
  </joint>
  <link
    name="folk_ack_right">
    <inertial>
      <origin
        xyz="-0.257964644660853 0.067499973033625 0.010000000000158"
        rpy="0 0 0" />
      <mass
        value="0.524544939385195" />
      <inertia
        ixx="4.2122916290778E-05"
        ixy="1.2842833560071E-21"
        ixz="-2.93149051739725E-18"
        iyy="0.0132439651239288"
        iyz="-2.33963808392073E-16"
        izz="0.0132439651530273" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///$(find my_robot_description)/meshes/ackermann_meshes/folk_right.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.257964644660853 -0.067500026966421 0.0100000000001579"
        rpy="0.0 0.0 0.0" />
        <geometry>
            <box size="0.55 0.04 0.02"/>
        </geometry> 
     <surface>
        <poissons_ratio>0.347</poissons_ratio>
        <elastic_modulus>8.8e+09</elastic_modulus>
        <ode>
          <soft_cfm>2e+20</soft_cfm>
          <soft_erp>2e+40</soft_erp>
          <kp>1000</kp>
          <kd>1</kd>
          <max_vel>0.01</max_vel>
          <min_depth>1.0</min_depth>
        </ode>
      </surface>
    </collision>
  </link>
  <joint
    name="folk_ack_right_fixed"
    type="fixed">
    <origin
      xyz="0.0370353553391244 0 0.0200000000000697"
      rpy="0 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="folk_ack_right" />
    <axis
      xyz="0 0 0" />
  </joint>
  <link
    name="folk_ack_left">
    <inertial>
      <origin
        xyz="-0.257964644660853 -0.067500026966421 0.0100000000001579"
        rpy="0 0 0" />
      <mass
        value="0.524544939385195" />
      <inertia
        ixx="4.2122916290778E-05"
        ixy="1.28430313218206E-21"
        ixz="-2.9314905173971E-18"
        iyy="0.0132439651239288"
        iyz="-2.33963772942766E-16"
        izz="0.0132439651530273" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///$(find my_robot_description)/meshes/ackermann_meshes/folk_left.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="-0.257964644660853 -0.067500026966421 0.0100000000001579"
        rpy="0.0 0.0 0.0" />
        <geometry>
            <box size="0.55 0.04 0.02"/>
        </geometry> 
     <surface>
        <poissons_ratio>0.347</poissons_ratio>
        <elastic_modulus>8.8e+09</elastic_modulus>
        <ode>
          <soft_cfm>2e+20</soft_cfm>
          <soft_erp>2e+40</soft_erp>
          <kp>1000</kp>
          <kd>1</kd>
          <max_vel>0.01</max_vel>
          <min_depth>1.0</min_depth>
        </ode>
      </surface>
    </collision>
  </link>
  <joint
    name="folk_ack_left_fixed"
    type="fixed">
    <origin
      xyz="0.0370353553391244 0 0.0200000000000697"
      rpy="0 0 3.14159265358979" />
    <parent
      link="base_link" />
    <child
      link="folk_ack_left" />
    <axis
      xyz="0 0 0" />
  </joint>

    <gazebo reference="front_left">
      <material>Gazebo/Green</material>
    </gazebo>

    <gazebo reference="front_right">
      <material>Gazebo/Green</material>
    </gazebo>

    <gazebo reference="rear_left">
      <material>Gazebo/Green</material>
    </gazebo>

    <gazebo reference="rear_right">
      <material>Gazebo/Green</material>
    </gazebo>

    <gazebo reference="right_steering">
      <material>Gazebo/Red</material>
    </gazebo>

    <gazebo reference="left_steering">
      <material>Gazebo/Red</material>
    </gazebo>


  <gazebo>
    <plugin name="gazebo_ros_planar_move_ack" filename="libgazebo_ros_planar_move.so">

      <ros>

        <!-- Add a namespace -->
        <namespace></namespace>

        <!-- Remap the default topic -->
        <remapping>/cmd_vel:=/cmd_vel</remapping>
        <remapping>odom:=/ack/odom</remapping>

      </ros>

      <update_rate>100</update_rate>
      <publish_rate>100</publish_rate>

      <!-- output -->
      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>

      <odometry_frame>odom</odometry_frame>
      <robot_base_frame>base_footprint</robot_base_frame>
      <publish_wheel_tf>true</publish_wheel_tf>
<!-- 
      <covariance_x>0.0001</covariance_x>
      <covariance_y>0.0001</covariance_y>
      <covariance_yaw>0.01</covariance_yaw> -->

    </plugin>
  </gazebo>

 <gazebo reference="laser_frame">
    <material>Gazebo/Black</material>

    <sensor name="laser" type="ray">
      <namespace></namespace>
      <pose>0 0 0 0 0 0</pose>
      <visualize>false</visualize>
      <update_rate>10</update_rate>
      <ray>
        <scan>
          <horizontal>
            <samples>360</samples>
            <min_angle>-3.14</min_angle>
            <max_angle>3.14</max_angle>
          </horizontal>
        </scan>
        <range>
          <min>0.3</min>
          <max>12</max>
        </range>
      </ray>
      <plugin name="laser" filename="libgazebo_ros_ray_sensor.so">
        <namespace></namespace>
        <ros>
          <argument>~/out:=scan</argument>
        </ros>
        <output_type>sensor_msgs/LaserScan</output_type>
        <frame_name>laser_frame</frame_name>
      </plugin>
    </sensor>
  </gazebo>
</robot>