<?xml version="1.0" encoding="utf-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="long_pallet">

  <link name="pallet_footprint">
  </link>
  <joint name="pallet_link_to_pallet_footprint" type="fixed">
    <origin xyz="0 0 0" rpy="0 0 0"/>
    <parent link="pallet_footprint"/>
    <child link="pallet_link"/>
  </joint>

  <link
    name="pallet_link">
    <inertial>
      <origin
        xyz="2.22044604925031E-16 2.22044604925031E-16 0.0802779743476336"
        rpy="0 0 0" />
      <mass
        value="1" />
      <inertia
        ixx="0.05011773"
        ixy="3.14732432919024E-18"
        ixz="6.18375078595321E-17"
        iyy="0.556581597187501"
        iyz="4.10639232657203E-20"
        izz="0.602756250000001" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///$(find my_robot_description)/meshes/pallet/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file:///$(find my_robot_description)/meshes/pallet/base_link.STL" />
      </geometry>
      <surface>
        <contact friction="0.01"> 
        <poissons_ratio>0.347</poissons_ratio>
        <elastic_modulus>8.8e+09</elastic_modulus>
        <ode>
          <soft_cfm>2e+20</soft_cfm>
          <soft_erp>2e+20</soft_erp>
          <kp>1</kp>
          <kd>10</kd>
          <max_vel>0.01</max_vel>
          <min_depth>1</min_depth>
        </ode>
        </contact>
        <friction>
            <fdir1>0 0 0</fdir1>
            <mu>0.5</mu>
            <slip2>0</slip2>
            <mu2>0.5</mu2>
            <slip1>0</slip1>
        </friction>
      </surface>
      <contact_coefficients mu ="1" kp="1e15" kd="1"/> 
    </collision>
  </link>
  
  <material name="verylightbrown" >
    <color rgba="0.8274509803921568 0.7137254901960784 0.5137254901960784 1.0" />
  </material>

  <gazebo reference="pallet_link">
      <material>Gazebo/Wood</material>
  </gazebo>

</robot>