<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="workshop_map">
  <link
    name="map_link">
    <inertial>
      <origin
        xyz="-0.243929254302105 4.51615678776292 0.8"
        rpy="0 0 0" />
      <mass
        value="4183.99999999999" />
      <inertia
        ixx="8538.22088888891"
        ixy="1719.52000000002"
        ixz="7.65329858755313E-13"
        iyy="6159.21833333333"
        iyz="1.38379345906246E-12"
        izz="12912.2658888889" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://workshop_map/meshes/map_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://workshop_map/meshes/map_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>